[submodule "xbyak"]
	path = extern/xbyak
	url = https://github.com/herumi/xbyak
[submodule "xbyak_aarch64"]
	path = extern/xbyak_aarch64
	url = https://github.com/zlateski/xbyak_aarch64
	branch = fjmaster
[submodule "extern/fmt"]
	path = extern/fmt
	url = https://github.com/fmtlib/fmt
[submodule "extern/Catch2"]
	path = extern/Catch2
	url = https://github.com/catchorg/Catch2
	branch = v2.x
